#resImage_1073 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/b/amy-stevens-2-0445afd2.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_1073 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/7/amy-stevens-2-6db3af76.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_1073 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/f/amy-stevens-2-cc0e73d9.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_1073 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/9/amy-stevens-2-8518a537.jpg');
                height:350px;
    }
}