#resImage_324 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/3/profile-sports-and-recreation-309155a1.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:600px;
}
@media screen and (min-width:700px){
    #resImage_324 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/3/profile-sports-and-recreation-309155a1.jpg');
                height:600px;
    }
}
@media screen and (min-width:980px){
    #resImage_324 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/0/profile-sports-and-recreation-c460307a.jpg');
                height:540px;
    }
}
@media screen and (min-width:1400px){
    #resImage_324 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/0/profile-sports-and-recreation-c460307a.jpg');
                height:540px;
    }
}