#resImage_1131 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/e/gifted-north-c18787a4.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_1131 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/f/gifted-north-4ebe69b8.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_1131 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/4/gifted-north-cb83c181.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_1131 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/6/gifted-north-f512ca8f.jpg');
                height:350px;
    }
}