#resImage_347 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/0/profile-eduation-7c73a15d.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:750px;
}
@media screen and (min-width:700px){
    #resImage_347 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/7/profile-eduation-6afc2959.jpg');
                height:650px;
    }
}
@media screen and (min-width:980px){
    #resImage_347 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/8/profile-eduation-2b92318e.jpg');
                height:540px;
    }
}
@media screen and (min-width:1400px){
    #resImage_347 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/8/profile-eduation-2b92318e.jpg');
                height:540px;
    }
}