#resImage_791 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/b/fundraising-bc279459.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:380px;
}
@media screen and (min-width:700px){
    #resImage_791 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/e/fundraising-08c4301c.jpg');
                height:500px;
    }
}
@media screen and (min-width:980px){
    #resImage_791 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/b/fundraising-fa477691.jpg');
                height:580px;
    }
}
@media screen and (min-width:1400px){
    #resImage_791 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/3/fundraising-2a474c01.jpg');
                height:580px;
    }
}