#resImage_468 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/0/contact-1da39dc4.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:380px;
}
@media screen and (min-width:700px){
    #resImage_468 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/b/contact-a084fa3e.jpg');
                height:500px;
    }
}
@media screen and (min-width:980px){
    #resImage_468 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/f/contact-584c8305.jpg');
                height:620px;
    }
}
@media screen and (min-width:1400px){
    #resImage_468 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/9/contact-17cfbd2e.jpg');
                height:680px;
    }
}