#resImage_1139 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/1/about-fd393ee1.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:400px;
}
@media screen and (min-width:700px){
    #resImage_1139 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/about-d8ffd213.jpg');
                height:500px;
    }
}
@media screen and (min-width:980px){
    #resImage_1139 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/8/about-591722fb.jpg');
                height:600px;
    }
}
@media screen and (min-width:1400px){
    #resImage_1139 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/8/about-591722fb.jpg');
                height:600px;
    }
}