#resImage_979 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/e/periodic-consulting-8e9e122f.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_979 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/b/periodic-consulting-088e9bbb.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_979 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/1/periodic-consulting-0ed72927.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_979 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/9/periodic-consulting-09b13dc5.jpg');
                height:350px;
    }
}