#resImage_861 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/7/home-49cee4b9.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:600px;
}
@media screen and (min-width:700px){
    #resImage_861 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/home-22b46359.jpg');
                height:500px;
    }
}
@media screen and (min-width:980px){
    #resImage_861 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/b/home-5bc64735.jpg');
                height:530px;
    }
}
@media screen and (min-width:1400px){
    #resImage_861 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/home-768a149e.jpg');
                height:530px;
    }
}