#resImage_320 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/6/profile-arts-7e322075.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:600px;
}
@media screen and (min-width:700px){
    #resImage_320 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/6/profile-arts-7e322075.jpg');
                height:600px;
    }
}
@media screen and (min-width:980px){
    #resImage_320 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/7/profile-arts-7f96c967.jpg');
                height:540px;
    }
}
@media screen and (min-width:1400px){
    #resImage_320 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/7/profile-arts-7f96c967.jpg');
                height:540px;
    }
}