#resImage_937 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/c/feasibility-studies-453da4e0.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_937 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/e/feasibility-studies-b924f41e.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_937 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/0/feasibility-studies-9668058d.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_937 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/feasibility-studies-4e722a63.jpg');
                height:350px;
    }
}