#resImage_995 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/c/legacy-programmes-53d4253b.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_995 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/9/legacy-programmes-3300426a.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_995 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/2/legacy-programmes-d7daac1f.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_995 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/5/legacy-programmes-b8e91f54.jpg');
                height:350px;
    }
}