#resImage_1071 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/0/understanding-hlf-9b7b580f.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:400px;
}
@media screen and (min-width:700px){
    #resImage_1071 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/understanding-hlf-cc62262d.jpg');
                height:500px;
    }
}
@media screen and (min-width:980px){
    #resImage_1071 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/1/understanding-hlf-9dc8d9c1.jpg');
                height:600px;
    }
}
@media screen and (min-width:1400px){
    #resImage_1071 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/1/understanding-hlf-9dc8d9c1.jpg');
                height:600px;
    }
}