#resImage_325 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/2/profile-health-ee880a18.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:600px;
}
@media screen and (min-width:700px){
    #resImage_325 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/2/profile-health-ee880a18.jpg');
                height:600px;
    }
}
@media screen and (min-width:980px){
    #resImage_325 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/1/profile-health-6b4b09a6.jpg');
                height:540px;
    }
}
@media screen and (min-width:1400px){
    #resImage_325 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/1/profile-health-6b4b09a6.jpg');
                height:540px;
    }
}