#resImage_1087 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/f/chris-goldie-2-38d314e3.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_1087 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/d/chris-goldie-2-1743c1f3.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_1087 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/chris-goldie-2-cb642a2e.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_1087 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/6/chris-goldie-2-e765d00f.jpg');
                height:350px;
    }
}