#resImage_937 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/c/feasibility-studies-453da4e0.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_937 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/5/feasibility-studies-1d3881ec.jpg');
                height:300px;
    }
}
@media screen and (min-width:980px){
    #resImage_937 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/e/feasibility-studies-3bde7463.jpg');
                height:300px;
    }
}
@media screen and (min-width:1400px){
    #resImage_937 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/5/feasibility-studies-ac5f3781.jpg');
                height:300px;
    }
}