#resImage_950 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/5/campaign-management-d02caf0d.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_950 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/c/campaign-management-5c8fe36a.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_950 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/3/campaign-management-18fcde9c.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_950 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/9/campaign-management-ab248aa8.jpg');
                height:350px;
    }
}