#resImage_932 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/1/services-bf3582e9.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:610px;
}
@media screen and (min-width:700px){
    #resImage_932 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/0/services-6618e7a1.jpg');
                height:610px;
    }
}
@media screen and (min-width:980px){
    #resImage_932 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/6/services-769f4764.jpg');
                height:610px;
    }
}
@media screen and (min-width:1400px){
    #resImage_932 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/0/services-43dd91a9.jpg');
                height:610px;
    }
}