#resImage_1131 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/2/gifted-north-9eef65e3.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:280px;
}
@media screen and (min-width:700px){
    #resImage_1131 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/3/gifted-north-408961d7.jpg');
                height:350px;
    }
}
@media screen and (min-width:980px){
    #resImage_1131 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/c/gifted-north-5bfcffa7.jpg');
                height:350px;
    }
}
@media screen and (min-width:1400px){
    #resImage_1131 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/5/gifted-north-db2fd13c.jpg');
                height:350px;
    }
}