
<!-- TEMPLATE START: develop/contao-responsive-images-bundle/src/Resources/contao/templates/css_responsive_image.html5 -->
#resImage_861 {
    display:block;
    overflow:hidden;
    background-image:url('http://gifted-dev.localhost.com/assets/images/e/home-3114d4f8.jpg');
    background-repeat:no-repeat;
    background-position:center center;
        width:100%;
    background-size: cover;
        height:380px;
}
@media screen and (min-width:700px){
    #resImage_861 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/home-22b46359.jpg');
                height:500px;
    }
}
@media screen and (min-width:980px){
    #resImage_861 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/d/home-5f4a682e.jpg');
                height:620px;
    }
}
@media screen and (min-width:1400px){
    #resImage_861 {
        background-image:url('http://gifted-dev.localhost.com/assets/images/a/home-e206257f.jpg');
                height:680px;
    }
}
<!-- TEMPLATE END: develop/contao-responsive-images-bundle/src/Resources/contao/templates/css_responsive_image.html5 -->
